<app-header (childReadyEvent)="onChildRead($event)"></app-header>
<!-- end of app header -->
<div class="menusection">
    <app-menusection></app-menusection>
</div>

<!-- Modal -->
<div class="modal fade in" id="myModal" role="dialog" [style.display]="showModel ? 'block' : 'none'">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="closeModel()">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModel()">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- End of Model -->
